<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
  <div class="hero-body">
    <div class="container">
      <div class="columns">

        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">

          <h1><strong>Why Osmosis Art?</strong></h1>

          <p  style="text-align: justify">
            <br />
            The idea behind the name Osmosis Art came to mind when I envisioned ideas passing from my brain to others, like fluids in a container. Tiny particles entering your consious, trying to twist and play with your reality. On that basis it
            was clear
            that I wanted to share ideas and viewpoints with others and NFTs was the best way. Satire
            should push the boundaries of our reality and hold back nothing. We live in historic times and satire has never been poorer. This is about to change.
            <br /><br /> <br />
          </p>

          <h2><strong>Why share your ideas as NFTs?</strong></h2>

            <br />
            <p style="text-align: justify">
              There are three aspects. First of all, things stored on the blockchain are permanent. So, unless a Solar storm destroys all electronic devices or a global world order takes control of crypto space, my ideas will last forever for people
              to see. Hopefully Osmosis Art will be on the digital front row. <br /> <br />
            </p>

            <p style="text-align: justify">
              Second, NFT is the only medium which gives artists such exposure to share their artwork and get recognized. There is a huge market and the inflow of people is increasing day by day. You are judged and rewarded in the most direct way,
              no need for middleman, people choose what is worthy and what is not.
              <br /> <br />
            </p>

            <p style="text-align: justify">
              The third reason that's giving me the drive is the prevalence of Ape-(ism). Ape-(ism) is not bad, we came from apes and for the most part majority hasn't evolved much since. It is in our DNA. At the same time crypto art deserves
              something better than an inflated avatar space or abstract fantasy themes. Blockchain is not only the best tool to achieve financial freedom, it should be the fortress of expression where comedy and satire are free to expand and
              challenge our
              views. This is the ultimate test. As Edmund Burke said “The only thing necessary for the triumph of ape-(ism) is for good men to do nothing"

              <br /> <br /> <br />

            <h2><strong>Why comics?</strong></h2>
            <br />
            <p style="text-align: justify">
              Stories have been driving our existence from our nomadic life till now. When we were young, we heard stories about princesses and knights, then we found cartoons and super heroes, afterwards we learned about angels and
              demons.
              Then came cinema and books. Black and white became gray and then colorful. Like different accents pronounce the same word in different ways. Everyone has his/hers own perspective. Most of them are wrong, irrelevant and one sided.

              Comics give you the ability to deliver your message sharply and targeted, like a surgeon but lightly at the same time. Whereas in books there is a lot of "fat" between the pages, short stories with images can give the distilled essence of a story and cutoff the
              noise.   
              <br /><br /> <br />
            </p>

            <h2><strong>Who is behind osmosis?</strong></h2>
            <br />
            <p style="text-align: justify">
              For the most part it is a one man army, I find and prepare the stories, from the small details to the bigger ones, the dialogues, the characters, the theme. At the same time design wise I am a cripple and this is why I work with
              talented artists to depict the stories as accurate and emerging as possible. 
              <br /><br /><br />
            </p>

            <h2><strong>What to expect from Osmosis Art?</strong></h2>
            <p style="text-align: justify">
              <br />
              Usually the artwork will come out either in collections, grouped under a single idea and in some cases as single themed work. Also I am not in favor of minting. If you like something you buy it because you enjoy the art. People enter a
              project expecting to mint a rare item, within a couple of seconds they get overrun by bots and other participants or most of the time they end up selling below the mint price. Since the artwork is limited, there will be multiple copies
              for each piece and a very limited rare edition for auction. In any case this is the initial idea, it will be discussed with the community.
              <br /><br /><br />
            </p>

            <h2><strong>Which blockchain will you use?</strong></h2>
            <p style="text-align: justify"><br />
              Most probably I will use polygon on OpenSea. Solana ecosystem is a good alternative, but knowing that Sam has funded the campaign of the existing US president, I am not confident if Osmosis Art is welcome there since part of the content will be
              political.
            </p>
            <br>

        </div>
      </div>
    </div>
</section>
