<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
      <div class="container">

            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You can find us here

            <div class="column is-full is-size-1">

                <a href="http://www.twitter.com/osmosisNFTArt" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                <a href="https://medium.com/@OsmosisArt" target="_blank" class="has-text-black"><i class="fab fa-medium"></i></a>
                <a href="mailto:hi@osmosis.art"  target="_blank"  class="has-text-black"><i class="fas fa-envelope"></i></a>

            </div>
        </div>
    </div>
</section>
