<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        COLLECTIONS
    </a>
    <div class="navbar-dropdown has-background-black is-left">
        <!-- {% for sitepage in site.html_pages %} -->
        {% unless sitepage.url == '/' or sitepage.url == '404'  or sitepage.url == '/404' %}
        <a href="the-afghan-collection"
              class="navbar-item has-text-grey-light ">
            {{sitepage.title}}
        </a>
        {% endunless %}
        <!-- {% endfor %} -->
    </div>
</div>
